/*
 * Base theme for the site.
 */

@import url(code.css);
@import url(fonts.css);

/* :root {
}*/

body {
    background-color: white;
    color: black;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #505050;
}