body {
    display: grid;
    grid-template-areas:
        'header'
        'title'
        'main'
        'footer';
}

header {
    grid-area: header;
}

.title {
    grid-area: title;
    margin: 60px 20% 40px 20%;
}

main {
    grid-area: main;
    text-align: justify;
    margin: 20px 15% 20px 15%;
}

footer {
    grid-area: footer;
}