/*
 * I don't want to talk about it.
 */

@import url(base.css);

body {
    display: grid;
    grid-template-areas:
        'header header'
        'title title'
        'main toc'
        'comments .'
        'footer footer';


    @media screen and (orientation:landscape) {
        grid-template-columns: 80% 20%;
    }

    @media screen and (orientation:portrait) {
        grid-template-columns: 100% 0%;
    }
}

main {
    @media screen and (orientation:landscape) {
        margin: 20px 5% 20px 15%;
    }

    @media screen and (orientation:portrait) {
        margin: 20px 7.5% 20px 7.5%;
    }
}

.toc {
    grid-area: toc;
    text-align: left;
    margin: 20px 10% 20px 0%;

    @media screen and (orientation:portrait) {
        display: none;
    }
}

.comments {
    grid-area: comments;

    @media screen and (orientation:landscape) {
        margin: 10px 5% 10px 15%;
    }

    @media screen and (orientation:portrait) {
        margin: 20px 7.5% 20px 7.5%;
    }
}